.feedback-section-div .header {
    font-size: 2.5em;
}

.feedback-div {
    display: flex;
    margin-bottom: 1.5em;
}

.user-comment-img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feedback {
    margin-left: 0.7em;
}

.feedback-author {
    margin: 0.2em 0 0;
    font-weight: bold;
}

.feedback-content {
    margin: 0;
}

.create-feedback-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
}

.edit-feedback-div {
    width: 40vw;
}

.create-feedback-form div, .edit-feedback-form div {
    width: 100%;
}

.feedback-buttons > .delete-btn {
    margin-left: 0.5em;
}

textarea {
    width: 100%;
    height: 5em;
    padding: 0.25em 0.5em;
    resize: none;
}
