.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* 
input[type=range]::-webkit-slider-runnable-track {
    box-shadow: 0px 0px 0px #000000;
    background: #6d6d6d;
    border-radius: 50px; 
}

input[type=range] {
    -webkit-appearance: none;
}  
*/
