@import './components/NavBar/NavBar.css';
@import './components/RecipeComponents/RecipeComponents.css';
@import './components/FeedbackComponents/FeedbackComponents.css';

:root {
    --bg-color: #fefbea;
    --primary-color: rgb(60, 0, 8);
    --secondary-color: rgba(60, 0, 8, 1);
    --delete-icon-color: rgb(192, 0, 0);
    --navbar-height: 75px;
    --footer-height: 100px;
    --content-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    font-family: 'Martel', serif;
}

#root {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    font-family: 'Reenie Beanie', cursive;
}

nav {
    position: fixed;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: var(--navbar-height);
    text-align: center;
    min-height: var(--navbar-height);
    height: fit-content;
    top: 0px;
    width: 100vw;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: 'Reenie Beanie', cursive;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px 1px black;
    z-index: 1;
}

nav a:visited {
    color: var(--bg-color); 
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25%;
    position: absolute;
    top: var(--navbar-height);
    width: 100%;
    height: var(--content-height);
    overflow-y: auto;
    background-color: var(--bg-color);
    /* text-align: center; */
}

#content > div {
    width: 100%;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: var(--footer-height);
    bottom: 0px;
    width: 100vw;
    background-color: var(--primary-color);
}

footer * {
    color: var(--bg-color);
}

.profile-img-div {
    width: fit-content;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

button {
    border: none;
    width: fit-content;
    height: 1.7em;
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.3em;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}

form {
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div {
    margin-bottom: 1em;
    width: 75%;
}

form input:not(.upload-img) {
    width: 100%;
    height: 2em;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 0.7em;
}

form .errors {
    display: flex;
    flex-direction: column;
    color: var(--delete-icon-color);
    font-size: 0.9em;
    padding-left: 1em;
}

.splash {
    position: absolute;
    top: 0px;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
    background-image: url('https://recipeer-bucket.s3.amazonaws.com/tmppexels-pixabay-326268.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.splash > .screen {
    position: inherit;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.splash > span {
    font-size: 5vw;
    font-weight: bold;
    font-family: "Reenie Beanie", cursive;
    color: black;
    text-shadow: 1px 1px 5px var(--bg-color), -1px -1px 5px var(--bg-color);
    z-index: 2;
    user-select: none;
    /* text-shadow: rgb(254, 251, 234) 1px 0px 0px, rgb(254, 251, 234) 0.540302px 0.841471px 0px, rgb(254, 251, 234) -0.416147px 0.909297px 0px, rgb(254, 251, 234) -0.989992px 0.14112px 0px, rgb(254, 251, 234) -0.653644px -0.756802px 0px, rgb(254, 251, 234) 0.283662px -0.958924px 0px, rgb(254, 251, 234) 0.96017px -0.279415px 0px; */
}


.splash > .share-recipes {
    position: inherit;
    top: 28vh;
    left: 2%;
    display: flex;
    flex-direction: column;
}

.splash > .discover-recipes {
    position: inherit;
    top: 50vh;
    left: 20%;
}

img {
    display: block;
    margin: 0 auto;
}
