.recipe-picture-div {
    position: relative;
    width: 80%;
    min-height: 5em;
    height: fit-content;
    max-height: 40vh;
    text-align: center;
    background-color: #1e0004;
    margin: 0 auto;
}

.recipe-picture-div > .delete-picture {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.delete-picture {
    display: none;
    cursor: pointer;
}

.recipe-picture-div:hover .delete-picture {
    display: inline;
    color: var(--delete-icon-color);
}

.recipe-picture {
    max-width: 100%;
    max-height: 40vh;
    object-fit: scale-down;
    cursor: pointer;
}

.picture-placeholder {
    height: 20vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5em;
}

.recipe-picture-bottom-banner {
    position: absolute;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: 
        "difficulty rating cook-time";
    align-items: center;
    bottom: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 0.9em;
}

.difficulty {
    grid-area: difficulty;
}

.cook-time {
    grid-area: cook-time;
}

.rating {
    grid-area: rating;
}

.average-rating {
    font-size: 0.9em;
}

.recipe-header-div {
    margin: 1em auto 1.5em;
    text-align: center;
    width: fit-content;
}

.recipe-header-div > button {
    margin-top: 0.5em;
}

.recipe-header-div * {
    margin: 0;
}

.recipe-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}


.fa-edit {
    position: relative;
    top: -0.3em;
    cursor: pointer;
    margin-left: 0.5em;
}

.tag-div {
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.recipe-type-div {
    margin-bottom: 0;
}

.tag {
    border: 2px solid var(--primary-color);
    padding: 0.1em 0.3em;
    margin: 0.2em;
    text-align: center;
    width: fit-content;
    background-color: white;
    font-size: 0.9em;
    /* cursor: pointer; */
}

.recipe-ingredients-container {
    position: fixed;
    width: 16vw;
    padding: 0 2em 1em;
    /* top: calc(var(--navbar-height) + 40vh); */
    bottom: calc(var(--footer-height) + 1em);
    min-height: calc(var(--content-height) - 40vh - 1em);
    max-height: calc(var(--content-height) - 2em);
    border: 1px solid black;
    overflow-y: auto;
    background-color: white;
    border: 2px solid var(--primary-color);
}

.recipe-ingredients-container .header {
    font-size: 2em;
    margin-bottom: 0.3em;
}

.recipe-ingredients-container.hide {
    z-index: -1;
}

.recipe-ingredients-container {
    transform: translate(-110%);
}

.recipe-ingredients {
    padding-left: 1em;
}

.recipe-ingredient {
    margin-bottom: 0.25em;
}

.toggle-ingredients {
    position: relative;
    z-index: 2;
}

.instruction {
    margin-bottom: 2em;
}

.fa-pencil-alt {
    position: relative;
    cursor: pointer;
    margin-left: 0.5em;
}

.recipe-ingredient > .fa-pencil-alt {
    top: -0.3em;
}

.instruction-step-header > .fa-pencil-alt {
    top: 1em;
}

.instruction-text {
    display: flex;
}

.instruction-text p {
    margin-top: 0.8em;
    font-size: 1.2em;
}

.instruction-text .header {
    font-size: 3em;
    margin-top: 0;
}

.instruction-step-header {
    display: flex;
    margin-right: 2em;
}

div.instruction-picture-div {
    background-color: transparent;
    min-height: 0;
    max-height: 30vh;
    width: fit-content;
}

.instruction-picture {
    max-height: 30vh;
    cursor: pointer;
}

.user-rating {
    color: goldenrod;
}

.recipe-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.recipe-card {
    width: 250px;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 1px black;
    margin: 1em;
    background-color: var(--primary-color);
}

.card-picture-div {
    width: 100%;
    height: 175px;
    background-color: black;
    display: flex;
    align-items: center;
}

.card-picture {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.card-details {
    text-align: center;
    color: var(--bg-color);
    font-family: 'Martel Sans', sans-serif;
}

.create-recipe-div, .edit-recipe-div {
    width: 50vw;
}

.create-recipe-div h2 {
    text-align: center;
}

.input-recipe-ingredient-div {
    display: flex;  
}

.input-recipe-ingredient-div input.quantity {
    width: 3.5em;
}

.input-recipe-ingredient-div select.unit {
    width: auto;
    margin: 0 0.5em;
}

.input-recipe-ingredient-div input.ingredient {
    width: 50%;
    margin-right: 0.5em;
}

.create-recipe-form div  {
    margin-bottom: 1em;
}

.checkboxes > div {
    display: flex;
    margin: 0;
}

.checkboxes label {
    margin-top: 0.2em;
    margin-left: 0.2em;
}

.checkboxes input.attribute, .checkboxes input.type {
    width: fit-content;
}

.recipe-checkboxes {
    display: flex;
    justify-content: space-around;
}

.create-instruction-form, .edit-instruction-form {
    width: 40vw
}

.input-instruction-div {
    width: 100%
}

.create-instruction-form textarea, .edit-instruction-form textarea {
    width: 100%
}
