nav * {
    /* height: 100%; */
    margin: auto 0;
}

.profile-img.nav-profile-img {
    width: 40px;
    height: 40px;
}

.nav-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-auth button {
    height: 30px;
    width: fit-content;
}

.home-link {
    font-size: 28px;
}

.logo {
    font-size: 40px;
}

.welcome {
    font-size: 28px;
}
